
  section.projects .card {
    max-width: 17rem;
    text-align: left;
  }
  section.projects .card img {
    max-width: 70%;
    margin: 1rem auto;
  }

 
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.btn-outline-dark {
  border-color: #343a40;
  color: #343a40;
}


.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 20px; 
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
}

.btn-outline-dark {
  border-color: #343a40;
  color: #343a40;
}

.add{
  margin-top: 20px;
  border-radius: 5px;
  padding: 4px;
  background-color: gray;
  color: white;
}
.status {
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}

.status.active {
  color: white;
  background-color: green;
}

.status.inactive {
  color: white;
  background-color: red;
}


.btn-details {
  margin-top: 10px;
  background: linear-gradient(to right, #007bff, #0056b3);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  transition: background 0.3s ease;
}

.btn-details:hover {
  background: linear-gradient(to right, #0056b3, #007bff);
}

.btn-details:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-details:active {
  background: linear-gradient(to right, #003a75, #004a99);
}



