<!-- add-trainee.component.html -->
<div class="container mt-4">
  <h2>Add New Trainee</h2>
  <form #addTraineeForm="ngForm" (ngSubmit)="addTrainee()">
    <div class="form-group">
      <label for="fullName">Full Name</label>
      <input type="text" class="form-control" id="fullName" [(ngModel)]="newTrainee.fullName" name="fullName" required>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" class="form-control" id="age" [(ngModel)]="newTrainee.age" name="age" required>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="newTrainee.phoneNumber" name="phoneNumber" required>
    </div>
    <div class="form-group">
      <label for="height">Height</label>
      <input type="number" class="form-control" id="height" [(ngModel)]="newTrainee.height" name="height" required>
    </div>
    <div class="form-group">
      <label for="weight">Weight</label>
      <input type="number" class="form-control" id="weight" [(ngModel)]="newTrainee.weight" name="weight" required>
    </div>
    <div class="form-group">
      <label for="details">Details</label>
      <textarea class="form-control" id="details" [(ngModel)]="newTrainee.details" name="details" required></textarea>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="newTrainee.email" name="email" required>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label>
      <input type="text" class="form-control" id="gender" [(ngModel)]="newTrainee.gender" name="gender" required>
    </div>
    <div class="form-group">
      <label for="physicalLimitation">Problems</label>
      <textarea class="form-control" id="physicalLimitation" [(ngModel)]="newTrainee.physicalLimitation" name="physicalLimitation" required></textarea>
    </div>
    <div class="form-group">
      <label for="status">Status</label>
      <select class="form-control custom-select" id="status" [(ngModel)]="newTrainee.status" name="status" required>
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Add Trainee</button>
  </form>
</div>
